body {
	background-color: black;
	font-family: 'Karla', sans-serif;
}

.picture-title {
	color: white;
}

.search-form-container-hide {
	display: none;
}

.search-form-container-show {
	display: block;
}

.search-result-hide {
	display: none;
}

.search-result-show {
	display: block;
}

.navbar-text-style {
	color: white !important;
}