.top-half {
	height: 100vh;
    min-height: 400px;
    background-size: cover;
    background-image: url("../images/hubbledark.jpg");
}

.register-container {
    /*background-color: rgba(0, 0, 0, 0.5);*/

    border-radius: 30px;
}

.hidden-spacer {
    height: 56px
}


.title-style {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 70px;
    text-align: center;
}

.description-style {
	color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 40px;
    text-align: center;
}

.wrap {
    margin: 0 auto;
    border-radius: 5px;
    /* background: #ffffff; */
    /*box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.15);*/
    position: relative;
    /*width: 450px;*/
}

.navbar-text-style {
    color: white !important;

}

.search-button-style {
	background-color: black !important;
}

.form-label-style {
    font-size: 25px;
}